.idea
*.iml

#backend
/backend/HELP.md
/backend/target/
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/
/backend/src/main/resources/static/

#frontend
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local